*{
    box-sizing: border-box;
}

.parent{
    position: relative;
    width: 200px;
    height: 200px;
    margin: 200px auto;
    background-color: red;
}


.child{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: yellow;
}
.t{
    bottom: 100%;
}
.b{
    top: 100%;
}
.l{
    right: 100%;
}
.r{
    left: 100%;
}

.child.t.l::after{
    content:'';
    display: block;
    width: 50px;
    height: 50px;
    background-color: blue;
    position: absolute;
    bottom: 100%;
    left: 100%;
    position: absolute;
}

.child.b.r::after{
    content:'';
    display: block;
    width: 50px;
    height: 50px;
    background-color: blue;
    position: absolute;
    top: 100%;
    right: 100%;
    position: absolute;
}