*{
    box-sizing: border-box;
}

.parent{
    position: relative;
    width: 500px;
    height: 500px;
    margin:  auto 200px;
    background-color: red;
}


.child.big{
    position: absolute;
    width: 450px;
    height: 100px;
    background-color: yellow;
    margin:  auto 25px;
}
.child.lit{
    position: absolute;
    width: 350px;
    height: 200px;
    background-color: blue;
    margin:  auto 75px;
    top: 50px;
}