*{
    box-sizing: border-box;
}

.parent{
    position: relative;
    width: 400px;
    height: 300px;
    margin: 0 auto;
    background-color: red;
}


.child{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: yellow;
}
.b{
    bottom: 0%;
}
.t{
    top: 0%;
}
.r{
    right: 0%;
}